<!-- <section
  class="min-h-screen bg-center bg-cover bg-blend-overlay"
  style="background-image: url('/assets/img/imagenLogin.jpg')"
> -->

  <!-- <p>facultades-page works!</p> -->
  <section class="w-[85%] bg-white/70 mx-auto rounded-md shadow-xl p-3 mt-32">
    <h3 class="text-center text-black text-4xl font-semibold">Listado de Facultades</h3>
    <div class="flex justify-between py-5">
      <div class="flex justify-between gap-5">
        <label class="text-2xl text-black font-semibold">Buscar</label>
        <input class="text-black text-xl rounded-xl pl-2"
          placeholder="Buscar Facultad...."
        />
      </div>
      <button class="bg-yellow text-2xl py-1 px-3 rounded-xl text-black font-semibold">Agregar +</button>
    </div>
    <ul class="bg-yellow flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-semibold">Nombre</li>
      <li class="w-[20%] text-xl text-black font-semibold">sigla</li>
      <li class="w-[15%] text-xl text-black font-semibold">Acciones</li>

    </ul>
    <ul class="flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-medium">Facultad de Ingenieria en Ciencias de la Computacion y Telecomunicaciones</li>
      <li class="w-[20%] text-xl text-black font-medium">FICCT</li>
      <li class="w-[15%] text-xl text-black font-semibold">Acciones</li>

    </ul>
    <ul class="flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-medium">Facultad de Tecnología</li>
      <li class="w-[20%] text-xl text-black font-medium">FICCT</li>
      <li class="w-[15%] text-xl text-black font-semibold">Acciones</li>
    </ul>

    <ul class="flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-medium">Facultad de Contaduria</li>
      <li class="w-[20%] text-xl text-black font-medium">FCTD</li>
      <li class="w-[15%] text-xl text-black font-semibold">Acciones</li>
    </ul>

    <ul class="flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-medium">Facultad de Fumanidades</li>
      <li class="w-[20%] text-xl text-black font-medium">FHDG</li>
      <li class="w-[15%] text-xl text-black font-semibold">Acciones</li>
    </ul>

    <ul class="flex rounded-xl p-2">
      <li class="w-[65%] text-xl text-black font-medium">Facultad de Ingenieria en Ciencias de la Computacion y Telecomunicaciones</li>
      <li class="w-[20%] text-xl text-black font-medium">FICCT</li>
      <li class="w-[15%] text-black font-semibold flex justify-around bg-yellow-300">
        <mat-icon class="bg-green-600 text-white"> edit</mat-icon>
        <mat-icon class="bg-red-700 text-white"> delete</mat-icon>
      </li>

    </ul>



  </section>


<!-- </section> -->

